@font-face {
  font-family: 'OpenSans-Regular';
  src: url("#{$fontPath}open-sans.regular.ttf");
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url("#{$fontPath}open-sans.light.ttf");
}

@font-face {
  font-family: 'OpenSans-Semibold';
  src: url("#{$fontPath}open-sans.semibold.ttf");
}

@font-face {
  font-family: 'OpenSans-Light-Italic';
  src: url("#{$fontPath}open-sans.light-italic.ttf");
}
