@font-face {
  font-family: 'OpenSans-Semibold';
  src: url("#{$fontPath}OpenSans-Semibold.ttf");
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("#{$fontPath}OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url("#{$fontPath}OpenSans-Light.ttf");
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("#{$fontPath}OpenSans-Bold.ttf");
}

@font-face {
  font-family: 'OpenSans-Italic';
  src: url("#{$fontPath}OpenSans-Italic.ttf");
}
