body {
  font-family: 'OpenSans-Regular', sans-serif;
}

h1 {
  font-family: 'OpenSans-Light', sans-serif;
  font-size: 1.5625rem;
  &.regular {
    font-family: 'OpenSans-Regular', sans-serif;
  }
}

h2 {
  font-family: 'OpenSans-Light', sans-serif;
  font-size: 1.1625rem;
}

.text-normal {
  font-size: 1rem;
}

.text-small {
  font-size: 0.8rem;
}

strong {
  font-weight: bold;
}
