.main-header {

  .menu-background {
    background: $header-color;
    a {
      color: white;
    }
  }

  $menu-width: 300px;

  .menu-drop-down {
    background: #3CB5F9;
    position: fixed;
    width: $menu-width;
    right: -$menu-width;
    margin-top: 30px;
    transition: right 1.0s cubic-bezier(0, 1, 0.5, 1);
    &.open {
      right: 0;
    }

    a {
      color: white;
    }
  }

  .grid-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
  }

  a {
    text-decoration: none;
  }

}

.main-menu {
  width: 30px;
  height: 27px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    transform-origin: left center;
  }

  span:nth-child(1) {
    top: 2px;
  }
  span:nth-child(2) {
    top: 11px;
  }
  span:nth-child(3) {
    top: 20px;
  }

  &.open {
    span:nth-child(1) {
      transform: rotate(45deg);
      top: 0;
      left: 4px;
    }
    span:nth-child(2) {
      width: 0;
      opacity: 0;
    }
    span:nth-child(3) {
      transform: rotate(-45deg);
      top: 21px;
      left: 4px;
    }
  }

}

.menu-toolbar {
  display: flex;
}

$flag-size: 20px;

.flag {
  width: $flag-size;
  height: $flag-size;
}

.country-select {

  margin-right: 1rem;
  position: relative;

  div, li {
    cursor: pointer;
    background: white;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    span {
      margin-right: 0.5rem;
    }
  }

  li {
    &:hover {
      background: #d3efff;
    }
    span {
      margin-right: 0.5rem;
    }
  }

  ul {
    position: absolute;
    border: 1px solid #d3efff;
    display: none;
    overflow: hidden;
  }

  &.open {
    ul {
      display: block;
    }
  }

  input[type="submit"] {
    display: none;
  }
}


