@import "reset";
@import "constants";
@import "fonts";

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'OpenSans-Regular';
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  > footer {
    margin-top: auto;
    background: gold;
  }

}



