@import "core/reset";
@import "core/constants";
@import "core/fonts";
@import "core/typography";
@import "core/spacing";
@import "core/colors";

@import "header";
@import "footer";

html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.grid-container {
  width : 100%;
  max-width : 1200px;
  margin: 0 auto;
}

a {
  color: black;
  text-decoration: none;
  &:hover, &:visited, &:active {
    color: black;
    text-decoration: underline;
  }
}

