@import "reset";

html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  > footer {
    margin-top: auto;
    background: gold;
  }

}



