.menu {
  padding: 1rem;
  li {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    &:last-child {
      border-bottom: 1px solid black;
    }

    .content {
      padding: 0 1rem 1rem 1rem;
      display: none;
    }

    a {
      font-size: 1.5rem;
    }
  }
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  .arrow-icon {
    transition: all .5s cubic-bezier(0, 1, 0.5, 1);
  }

  &.open {
    .arrow-icon {
      transform: rotate(-180deg);
    }
  }
  &.open + .content {
    display: block;
  }
}

.arrow-icon {
  $arrow-height: 30px;
  $arrow-width: 40px;
  width: $arrow-width;
  height: $arrow-height;
  background: url("#{$imgPath}arrow-down.svg") center no-repeat;
  background-size: $arrow-width $arrow-height;
}

.menu-blocks {
  display: flex;
  flex-wrap: wrap;
}

.menu-block {
  background: white;
  flex-basis: 100%;
  @media (min-width: $media-sm) {
    flex-basis: 300px;
    margin-right: 1rem;
  }
  background: #f2f2f2;
  padding: 1rem;

}

.menu-block-header {
  display: flex;
  justify-content: space-between;
  font-family: 'OpenSans-Semibold';
}

.menu-block-footer {
  font-family: 'OpenSans-Light-Italic';
  font-size: 0.8rem;
}
